<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="url" value="https://eclass.aueb.gr/"/>
    <add key="all-courses" value="https://eclass.aueb.gr/main/my_courses.php"/>
    <add key="xpath" value="/html/body/div[2]/div[1]/div[3]/div/div/div[4]/table/tbody/tr/td[1]/strong"/>
    <add key="download" value="https://eclass.aueb.gr/modules/document/index.php?course={0}&amp;download=/"/>
    <add key="password-name" value="passname"/>
  </appSettings>
</configuration>